<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <!-- instead of two way binding we could use local reference which only can be used in html -->
    <!-- so we are getting name by t-w-binding and content by local reference -->
    <input type="text" class="form-control" #contentInput>
    <label>User Name</label>
    <input type="text" class="form-control" #userNameInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(contentInput)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(contentInput)">Add Server Blueprint</button>
  </div>
</div>